# logs and packages
wandb/
env/

# data files for single cell. They should be downloaded
**/*.h5ad
**/*.npz

# Python aux files
**/.DS_Store
**/__pycache__/
*/*.pyc
**/.ipynb_checkpoints
**/.vscode/

